@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

html, body {
  width: 100%;
  overflow-x: hidden;
  margin:0;
  background-color: #70488D;
}

@media (prefers-color-scheme: light) {
  html, body {
      background-color: #FCFCFC;
  }
}

.common-font {
  font-family:Raleway
}

#head {
  background:linear-gradient(to bottom, #BC7FB6 0%, #70488D 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light){
  #head{
    background:#DDD;
  }
}

.header-left {
  display: flex;
  align-items: center;
}

#logo {
  height: 30px;
  width: 30px;
  border-radius: 10%;
  margin-right: 15px;
}

#navbar-title {
  color: #EEEEEE;
  opacity: 0; /* Start with the title invisible */
  transition: opacity 0.15s ease-in-out; /* Smooth transition */
  font-family: Helvetica;
  margin: 0;
  font-size: 24px;
}

@media (prefers-color-scheme: light){
  #navbar-title {
    color: #444444;
  }
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color: #666666;
  margin-left: 15px;
}

nav a:hover {
  filter: brightness(80%);
}

.buttons {
  color: #EEEEEE;
  font-family: Raleway;
  font-weight: bold;
}


/*----------------------Sunset Photo and Below---------------------*/

.page-text{
  font-family:Raleway;
  color:#E0E0E0;
}

@media (prefers-color-scheme: light) {
  .page-text {
      color: #111111;
  }
}

.container2 {
        max-width: 1000px;
        margin: 0 auto; /* Center the container horizontally */
        padding: 0 20px; /* Padding for better readability */
        background-color:#70488D;
    }

@media (prefers-color-scheme: light) {
  .container2 {
      background-color: #FCFCFC;
  }
}

#title-text {
  text-align: center;
  font-family: Helvetica;
  font-size: 70px;
  color: white;
  letter-spacing: 7px;
  opacity: 100; /* Title is initially visible */
  transition: opacity 0.15s ease-in-out; /* Smooth transition for the fade in and out */
}


  .sunset {
    display: flex;
    height: 72vh;
    max-height:800px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('tree.jpeg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed; /* can be removed once the parallax effect is purely JavaScript driven */
  }

  @media (prefers-color-scheme: light) {
    .sunset {
      filter: brightness(115%);
    }
  }

.headers {
  text-align:center;
  color:white;
}

@media (prefers-color-scheme: light){
  .headers {
    color:black;
  }
}

/*----------------------Meet The Team----------------------*/
.team-section {
  text-align: center;
  margin: 50px 0; /* Space around the section */
}

.profile {
  display: inline-block; /* Profiles side by side */
  margin: 0 20px; /* Space between profiles */
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Make the images round */
  background-color: #c0e1fa;
  object-fit: cover
}

.profile-name {
  margin-top: 10px; /* Space between image and name */
  font-size: 20px; /* Font size for the name */
}

.profile-social { /* Social Media Handle */
  font-size: 16px;
  color: #AAAAAA;
}

.profile-name, .profile-social {
  font-family: 'Raleway', sans-serif;
  font-size: 16px
}

.profile a:hover{
  filter: brightness(90%);
}

/*----------------------Footer----------------------*/
.social-icon {
  max-width: 35px;
  max-height: 35px;
  margin: 0 10px; /* Adjust spacing between icons */
}


/*----------------Mobile Optimization----------------*/
.mobile-only{
  display: none
}

@media (max-width: 768px) {
  #title-text {
    font-size: 50px; /* Smaller font size for small devices */
  }
  .container2{
    margin-left:20px;
    margin-right:20px;
  }
}

@media (max-width: 480px) {
  #title-text {
    font-size: 40px; /* Even smaller font size for phones */
  }
  .buttons {
      display: none;
  }

  .mobile-only{
    display: inline;
  }
  .richard {
    margin-bottom:40px;
  }
}


/*Mobile Menu*/

.menu-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;
  cursor: pointer;
  font-size: 24px;
  user-select: none;
}

.menu-content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); /* Translucent black background */
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-item {
  color: white;
  font-size: 32px;
  padding: 20px;
  text-decoration: none;
  opacity: 0;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.show {
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.show .menu-item {
  animation: fadeIn 0.5s ease forwards;
}
.show .menu-item:nth-child(1) { animation-delay: 0.2s; }
.show .menu-item:nth-child(2) { animation-delay: 0.4s; }
.show .menu-item:nth-child(3) { animation-delay: 0.6s; }
.show .menu-item:nth-child(4) { animation-delay: 0.8s; }
.show .menu-item:nth-child(5) { animation-delay: 1.0s; }

.profile-text {
  color:#EEE;
}

@media (prefers-color-scheme: light){
    .profile-text {
      color:#222;
    }
  }